<div class="flex flex-col">
  <h1 class="m-1 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl">
  Brands
  </h1>


  <div class="my-5 mx-20 overflow-x-auto">
    <div class="p-1.5 min-w-full inline-block align-middle">
      <div class="rounded-lg shadow overflow-hidden dark:border-gray-700 dark:shadow-gray-900">

        <%= search_form_for @q do |f| %>
          <div class="float-right m-2.5">
            <div class="relative">
              <%= f.search_field :name_cont, 
                class: "pull-left pt-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 focus:ring-blue-500 focus:border-blue-500",
                placeholder: "Search by Brand Name"
              %>
              <div class="absolute inset-y-0 start-0 flex items-center pointer-events-none z-20 ps-4">
                <span class="text-gray-500"><i class="fa-solid fa-magnifying-glass"></i></span>
              </div>
            </div>
          </div>
        <% end %>

        <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
          <thead>
            <tr>
              <th scope="col" class="border rounded-l-lg px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">
                <%= sort_link(@q, :name, "Brand Name", default_order: :asc) %>
              </th>
              <th scope="col" class="border rounded-r-lg px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Official Site</th>
              <th scope="col" class="border rounded-r-lg px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Certs</th>
              <th scope="col" class="border rounded-r-lg px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Actions</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
            <% @brands.each do |brand| %>
              <tr>
                <td class="border px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800"> <%= brand.name %></td>
                <td class="border px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800"><%= brand.url ? link_to("Official Site", brand.url) : "" %>
                <td class="border px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800"> <%= brand.peta %></td>
                <td class="border px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800"> Actions </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="flex items-center justify-center">
          <%== pagy_nav(@pagy) %>
        </div>
      </div>
    </div>
  </div>
</div>